body{
   
}

/*STYLING FOR THE TABLES*/
#dataTable{
    max-width: 800px;
}
td.winrate1,td.winrate2,td.totalWinrate,td.total, td.options{
    text-align: center;
}
tr{
    
}
tr.data{
    padding: 0%;
    display: inline-table;
}
input.className{
    border:none;
    text-align: center;
    display: block;
    box-sizing: border-box;
    height: 100%;
}
.removeRow{
    display: none;
    height: 100%;
    padding: 10px;
    border: 2px solid black;
    background-color: red;
    
}
table input{
    
    background:transparent;
    border:none;
    outline-width:0;
}
.className{

}
.options{
    display: none;
}
.reveal{
    display:block;
}
td button{

}